.btn {
  background-color: $button-main;
  color: $button-font;
  &:hover{
    color: $button-font;
  }
  &:focus {
    box-shadow: none !important;
  }

}

.edit {
    background-color: $blue-gray;
}
button{
  outline: 0;
  border: none;
  background-color: transparent;
  background-image: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}