.filters-stack {
  color: $white;
  position: relative;
  cursor: pointer;
    &:after {
            
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-left: .3em solid transparent;

        }
  .list-unstyled{
    z-index: 100;
    display: none;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 180px;
    border-radius: 3px;
    a{
      color: #444 !important;
    }
    li{
      text-align: left;
      padding: .5rem;
      display: block;
    }
  }
  &:hover{
    ul{
      display: block;
    }
  }
}

.filters-stack{
  
  .list-unstyled{
    
  }
}