.NewPlace{
	
	&--heading{
		margin-bottom: 25px;
		margin-top: 20px;
	}
	.family-amenities{
		display: none;
	}
	fieldset{
		.form-group{
			margin-bottom: 20px;
		}
		.form-group{
			textarea{
				height: calc(2.25rem + 2px);
				padding: .4rem .9rem !important;
			}
		}
	}
	&__location{

		
	}
	section.photos > div {
	    margin-bottom: 32px;
	}
	section.photos{
		position: relative;
	}
	
	.featured-photo{

	}
	.form-control{
		padding: 6px 14px !important;
	}
}
