.NewPlace{
	
	&--heading{
		margin-bottom: 25px;
		margin-top: 20px;
	}
	.family-amenities{
		display: none;
	}
	&__location{

		
	}
	section.photos > div {
	    margin-bottom: 32px;
	}
	section.photos{
		position: relative;
	}
}
