.NewPlace{
	
	&--heading{
		margin-bottom: 25px;
		margin-top: 20px;
	}
	fieldset{
		.form-group{
			margin-bottom: 20px;
		}
		.form-group{
			textarea{
				height: calc(2.25rem + 2px);
				padding: .4rem .9rem !important;
			}
		}
	}
	&__location{

		
	}
	section.photos > div {
	    margin-bottom: 32px;
	}
	section.photos{
		position: relative;
	}
	ul.photos{
		list-style: none;
		padding: 0;
		> li{
			display: inline-block;
			width: 224px;
			height: 168px;
			margin: 0 8px 16px;
			font-size: 16px;
			color: #929ba3;
			text-align: center;
			vertical-align: top;
			overflow: hidden;
			> img{
				height: 100%;
			}
		}
		.upload{
			width: 100%;
			height: 100%;
		}
	   	span.btn{
		   	position: absolute;
		   	top: 10px;
		   	right: 0;
		   	padding: 0;
		   	line-height: 20px;
		   	color: $button-main;
	   	}
	    label{
	    	width: 100%;
	    	height: 100%;
	    	border: dashed 5px #d4d6d8;
	    	padding: 32px;
	    	position: relative;
	    	cursor: pointer;
	    	&:after{
	    		content: "Add Photo";
	    		display: block;
	    		font-size: 18px;
	    		font-weight: bold;
	    		color: #929ba3;
	    	}
	    }
	   	input[type=file]{
	   		display: none;
	   	}
	   	span.plus{
	   		display: block;
	   		width: 62px;
	   		height: 62px;
	   		margin: 0 auto 10px;
	   		border-radius: 50%;
	   		background-color: #afb5bc;
	   		font-size: 62px;
	   		line-height: 58px;
	   		font-weight: bold;
	   		color: #fff;
	   	}
	}
	
}	
