//container
$light-grey: #fafafa;
$darker-grey: #f2f2f2;
$light: #aaa;

$button-main: #ef9094;
$button-font: #fff;
//nice color
$blue-gray: #ced8e2;
$white: #fff;

// Brand color 
$brand-pink: #ef9094;
$brand-blue: #82baeb;
